
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Lato&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containing-window{
  margin: 0;
  display: flex;
  justify-content: center;
}

.container{
  margin: 0 0 100px 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
}

body {
  display: flex;
  flex-direction: column;
  min-width: 700px;
  /* background-color: rgb(253, 234, 237); */
  background-color: rgba(255, 255, 255, 0.6);
  font-family: 'Source Sans Pro', sans-serif;

  
  background-image: url("background.png");
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-size: contain; */
  background-size: cover;
  z-index: -2;

}

.cover {
  width: 100%;
  height: 30px;
  border: 1px ;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(24, 198, 241, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}

a {
  color: black;
  text-decoration: none;
  margin: 2px;
  color: rgb(0,144,158);
}

.sidebar {
  padding: 0 1rem 0 0;
  /* border-right: 1px solid pink; */
  margin-left: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: right;
  font-size: 1.5rem;
}

.projects {
  font-family: 'Abril Fatface', cursive;
  color: rgb(0,144,158);
  position: relative;
  background: -webkit-linear-gradient(rgb(0, 53, 66), rgb(39, 206, 248));
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 10%;
  font-size: 4rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 80px;
  font-weight: 200;
  background-color: rgba(0, 0, 0, 0);
}

.sketch-container {
  border: 1px dotted palevioletred;
}

p {
  max-width: 600px;
  color: rgb(12, 37, 43);
  padding-bottom: 1rem;
}

.background {
  background-image: url("logo2.png");
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-size: contain; */
  background-size: contain;
  z-index: -1;
}

/*
body {
  font-family: "Lato", sans-serif;
 
}
h1{
font-size:40px;
}

.sidebar {
  height:100%;
  width: 200px;
  position: fixed;
  margin:0 auto;
  background-color: #111;
  overflow-x: hidden;
}

.sidebar a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.main{
    margin-left:200px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */
